<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sERPDue.Properties.Settings.JBADMINConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=JBADMIN;User ID=sa;Password=eric0920"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>