<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sERPSalesApply.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="sERPSalesInvoices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <sERPSalesApply.Properties.Settings>
            <setting name="sERPSalesInvoices_CetusAPI_InvoiceAPIService"
                serializeAs="String">
                <value>http://www.ei.com.tw/InvoiceMultiWeb/InvoiceAPI?wsdl</value><!--http://invoice.cetustek.com.tw:80/InvoiceMultiWeb/InvoiceAPI-->
            </setting>
        </sERPSalesApply.Properties.Settings>
        <sERPSalesInvoices.Properties.Settings>
            <setting name="sERPSalesInvoices_CetusAPI_InvoiceAPIService"
                serializeAs="String">
                <value>http://www.ei.com.tw/InvoiceMultiWeb/InvoiceAPI?wsdl</value>
            </setting>
        </sERPSalesInvoices.Properties.Settings>
    </applicationSettings>
</configuration>